@import '../../shared/var';

.root {
  width: 100%;
  margin-top: 64px;
  min-height: calc(100vh - #{$navbar-height});
}

.header {
  color: #fff;
  padding: 32px;
  box-sizing: border-box;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

.cardContainer {
  padding: 0 $card-margin $card-margin;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 48px;
  }
}
