@import '../../shared/var';

.root {
  position: relative;
  width: 240px;
  height: 360px;
  margin: 16px;
  padding: 32px;
  box-shadow: 0px 1px 2px darken($body-background, 20%);
  border-radius: 4px;
  text-align: center;
  background: lighten($body-background, 5%);
  color: #fff;
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1) all;
}

.root:hover {
  background: lighten($body-background, 10%);
}

.front, .back {
  position: absolute;
  top: 32px;
  left: 32px;
  right: 32px;
  bottom: 32px;
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1) all;
}

.back {
  opacity: 0;
  transform: rotateY(90deg);
}

.root:hover .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.root:hover .front {
  opacity: 0;
  transform: rotateY(90deg);
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 12px 0;
}

.name {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 300;
}

.blurb {
}

.header {
  margin: 0 0 16px;
  font-size: 20px;
}

.stats {
  margin-top: 48px;
}

.stats > div {
  font-size: 18px;
  padding: 8px 12px;
  margin: 16px 0;
  background: lighten($body-background, 15%);
  box-shadow: 0px 1px 2px darken($body-background, 5%);
  border-radius: 4px;
}
