@import '../../shared/var';

@keyframes bganim {
  from {
    opacity: 1;
    filter: blur(0px);
  }

  to {
    opacity: .3;
    filter: blur(5px);
  }
}

@keyframes fganim {
  from, 50% {
    opacity: 0;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}

.root {
  animation-name: fganim;
  animation-duration: 1s;
  box-sizing: border-box;
  min-height: calc(100vh - #{$navbar-height});
  height: 100%;
  padding: 20vh 32px 0;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

.bg {
  animation-name: bganim;
  animation-duration: 1s;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3;
  background: url(/static/images/homebg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  filter: blur(5px);
}

.title {
  font-size: 72px;
}

.subtitle {
  font-size: 48px;
  font-weight: 300;
}

.subsubtitle {
  font-size: 16px;
}

.browseTable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 808px;
  margin: 64px auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.browseLink {
  display: block;
  width: 260px;
  margin: 24px;
  padding: 32px 24px;
  border-radius: 4px;
  background: transparentize($body-background, 0.3);
  box-sizing: border-box;
  color: inherit;
  box-shadow: 0 1px 2px darken($body-background, 20%);
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  transition: 100ms linear background;
}

.browseLink:hover {
  background: lighten($body-background, 10%);
}

.browseCaret {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 4px;
}

.carousel {
  max-width: 808px;
  height: 400px;
  margin: 64px auto;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftarrow {
  min-width: 50px;
  min-height: 50px;
  background-image: url("/static/images/leftarrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  order: 0;
  cursor: pointer;
}

.rightarrow {
  min-width: 50px;
  min-height: 50px;
  background-image: url("/static/images/rightarrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  order: 2;
  cursor: pointer;
}

.carousel_ride {
  flex-grow: 1;
  max-height: 400px;
  background: white;
  object-fit: contain;
  order: 1;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@media screen and (max-width: 500px) {
  .carousel {
    height: 200px;
  }

  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 28px;
  }

  .subsubtitle {
    font-size: 12px;
  }

  .browseLink {
    font-size: 16px;
  }
}
