@import '../../shared/var';

.cardWrapper {
  width: 500px;
  max-width: calc(100% - 2 * #{$card-margin});
  margin: $card-margin;
}

.card {
  position: relative;
  top: -64px;
  opacity: 0;
  width: 100%;
  height: auto;
  padding: 32px;
  margin-bottom: 2 * $card-margin;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 2px darken($body-background, 50%);
  border-radius: 4px;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) all;
}

.card.shown {
  top: 0;
  opacity: 1;
}

.sectionHeader {
  font-size: 23px;
  font-weight: 600;
  margin: 0 0 12px;
}

.sectionIcon {
  display: inline-block;
  width: 115px;
  margin-right: 12px;
  text-align: right;
}

.table {
  border-spacing: 0;
  margin-left: -6px;
}

.table td {
  padding: 6px 8px;
  font-size: 18px;
  vertical-align: top;
}

.table td:nth-child(1) {
  color: lighten(#000, 40%);
  font-weight: 600;
  text-align: right;
  width: 110px;
}

.table a {
  color: #2980b9;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 50vh;
  margin: 16px auto 0;
}
