@import '../../shared/var';

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: block;
  position: relative;
  top: -32px;
  width: 300px;
  opacity: 0;
  box-sizing: border-box;
  padding: 24px;
  margin: 16px;
  background: lighten($body-background, 5%);
  color: #fff;
  box-shadow: 0 1px 2px darken($body-background, 20%);
  text-decoration: none;
  transition: 100ms linear background;
  cursor: pointer;
}

.item.shown {
  top: 0;
  opacity: 1;
  transition: 1s cubic-bezier(0.19, 1, 0.22, 1) all;
}

.item:hover {
  background: lighten($body-background, 10%);
}

.image {
  margin: 16px -24px 0;
  width: 300px;
  height: 300px;
  background-color: #fff;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stats {
  padding-left: 0;
}

.stats > li {
  list-style-type: none;
  font-size: 14px;
  padding-top: 6px;
}
