@import '../../shared/var';

.navbar {
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  padding: 0 32px;
  background: $body-background;
  color: lighten($body-background, 90%);
}

.link-box {
  display: flex;
  flex-direction: row;
}

.link {
  display: block;
  padding: 18px 12px 0;
  color: inherit;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;

  cursor: pointer;
  transition: all 100ms linear;
}

.link:hover {
  background: lighten($body-background, 10%);
}

.logo {
  display: inline-block;
  padding-right: 12px;
}

.title {
  padding: 9px 12px 0;
  color: inherit;
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
}

.spacer {
  flex: 1 1;
}

.hamburger {
  padding: 17px 0;
  font-size: 24px;
  cursor: pointer;
}
