<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NFLDB Visualization</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='vis.css') }}" />
</head>
<body>
  <h1 id="title">Group 21 Database: A Visualization</h1>
  <div id="vis-container" draggable="true">
    <svg id="vis" />
  </div>
  <div id="inspector">
    <img id="pic" />
    <h2 id="name">Select a node</h2>
    <h3 id="links-header">Outgoing Links</h3>
    <ul id="links" />
  </div>
  <script src="{{ url_for('static', filename='vis.js') }}"></script>
</body>
</html>
