@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spinner {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 32px;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spinner.tall {
  margin-top: 96px;
}
